Repository kyma-project/warden, pull requests merged in 2024-05, with the labels that each got.

#229 Create the `rebase` action
  .github/actions/rebase/action.yaml
  .github/workflows/pull-gitleaks.yaml
  .github/workflows/warden-verify.yaml
Labels: size/M, lgtm, kind/chore, cla: yes, area/warden

#230 Cover case when the `main` branch exists
  .github/actions/rebase/action.yaml
Labels: kind/bug, size/XS, lgtm, cla: yes, area/warden

#231 Fix bug when updating main
  .github/actions/rebase/action.yaml
Labels: kind/bug, size/XS, lgtm, cla: yes, area/warden

#232 gh actions cleanup
  .github/actions/create-k3d-cluster/action.yaml
  .github/actions/setup-go/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/integration-tests-push.yaml
  .github/workflows/lint.yaml
  .github/workflows/promote-to-release-channel.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/warden-verify.yaml
  Makefile
  config/rbac/role.yaml
Labels: kind/cleanup, size/L, lgtm, area/ci, cla: yes, area/warden
